    <footer class="footer">
        <div class="container">
            <p class="text-muted">
                Sällskapet GlödHybbleOrden i Stockholm (GHO) &copy; 2017
                <a href="https://facebook.com/sallskapet.glodhybbleorden"><img src="FB-f-Logo__white_29.png"></img></a>
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="ie10-viewport-bug-workaround.js"></script>
</body>
</html>
